<h1>Angular App</h1>

<!-- links for the routes -->
<div>
    <span> [ <a [routerLink]="['/']">Home</a> ] </span>
    <span> [ <a [routerLink]="['/greeter']">Greeter</a> ] </span>
    <span> [ <a [routerLink]="['/calculator']">Calculator</a> ] </span>
    <span> [ <a [routerLink]="['/calculator-2']">Calculator-2</a> ] </span>
    <span> [ <a [routerLink]="['/salary-calculator']">Salary Calculator</a> ] </span>
    <span> [ <a [routerLink]="['/dummy']">Non existant</a> ] </span>
</div>


<!-- the components will be displayed in router-outlet based on the active route -->
<router-outlet></router-outlet>

<!-- <div class="shopping-cart">
    <div>
        <button (click)="userChoice = 'Greeter'">Greeter</button>
        <button (click)="userChoice = 'Calculator'">Calculator</button>
        <button (click)="userChoice = 'Calculator-2'">Calculator-2</button>
        <button (click)="userChoice = 'Products'">Products</button>
        <button (click)="userChoice = 'SalaryCalculator'">Salary Calculator</button>
        <button (click)="userChoice = 'Bugs'">Bugs</button>
    </div>
    <div>User Choice : {{userChoice}}</div>
    <div [ngSwitch]="userChoice">
        <app-greeter *ngSwitchCase="'Greeter'"></app-greeter>
        <app-calculator *ngSwitchCase="'Calculator'"></app-calculator>
        <app-calculator-2 *ngSwitchCase="'Calculator-2'"></app-calculator-2>
        <app-products *ngSwitchCase="'Products'"></app-products>
        <app-bugs *ngSwitchCase="'Bugs'"></app-bugs>
        <div *ngSwitchCase="'SalaryCalculator'">
            <app-salary-calculator></app-salary-calculator>
        </div>
    </div>
</div> -->