<h3>Shopping Cart</h3>
<div class="shopping-cart">
    <!-- CartStats component -->
    <app-cart-stats [ItemsCount]="cartService.items.length" [Total]="cartService.total"></app-cart-stats>
    <!-- CartAction component -->
    <section class="action">
        <select #selectProduct (change)="chooseProduct(selectProduct.value)">
            <option value="">---Select---</option>
            <option *ngFor="let product of productsService.products" [value]="product.id">
                {{product.name}}
            </option>
        </select>
        <span>Category :</span>
        <span>{{selectedProduct.category}}</span>
        <span>Cost :</span>
        <span>{{selectedProduct.cost}}</span>
        <label for="">Units :</label>
        <input type="number" #txtUnits (input)="selectedProductUnits = txtUnits.value">
        <button (click)="onBtnAddClick()">Add</button>
        <div *ngIf="selectedProduct === productsService.nullProduct">Choose a product</div>
    </section>
    <!-- CartItemList component -->
    <section class="list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Cost</th>
                    <th>Units</th>
                    <th>Product Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartService.items">
                    <td>{{cartItem.name}}</td>
                    <td>{{cartItem.category}}</td>
                    <td>{{cartItem.cost}}</td>
                    <td>{{cartItem.units}}</td>
                    <td>{{cartItem.value}}</td>
            </tbody>
        </table>
    </section>
</div>