<section class="edit">
    <label for="">Bug Title : </label>
    <input type="text" #txtNewBugTitle (input)="newBugTitle = txtNewBugTitle.value">
    <label for="">Project : </label>
    <select #selectProject (change)="selectedProjectId = selectProject.value">
        <option value="">---Select---</option>
        <option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
        </option>
    </select>
    <button (click)="onBtnAddNewClick()">Add New</button>
</section>
