
<!-- 
    <label for="">Show Header : </label>
    <input type="checkbox" #chkShowHeader (change)="showHeader = chkShowHeader.checked"> 
    <app-bugs-header *ngIf="showHeader"></app-bugs-header>
 -->

<section>
    <!-- bugStats -->
    <app-bug-stats [data]="bugsService.bugs"></app-bug-stats>

    <!-- bugSort -->
    <app-bug-sort (sortChange)="onSortChange($event)"></app-bug-sort>

    <!-- bugEdit -->
    <app-bug-edit (onNewBug)="onNewBugCreate($event)"></app-bug-edit>

    <!-- bugList -->
    <app-bug-list [sortAttr]="sortAttr" [sortDesc]="sortDesc"></app-bug-list>
</section>