
<!-- 
    <label for="">Show Header : </label>
    <input type="checkbox" #chkShowHeader (change)="showHeader = chkShowHeader.checked"> 
    <app-bugs-header *ngIf="showHeader"></app-bugs-header>
 -->

<section>

    <app-bug-stats [data]="bugsService.bugs"></app-bug-stats>

    <app-bug-sort (sortChange)="onSortChange($event)"></app-bug-sort>


    <app-bug-edit (onNewBug)="onNewBugCreate($event)" [projects]="projectsService.projects"></app-bug-edit>


    <app-bug-list [sortAttr]="sortAttr" [sortDesc]="sortDesc"></app-bug-list>
</section>
<!-- Using the "stateless service" --> 
<!-- 
<section *ngIf="(bugsService.bugs$ | async) as bugs; else noBugsTemplate">

    <app-bug-stats [data]="bugs"></app-bug-stats>


    <app-bug-sort (sortChange)="onSortChange($event)"></app-bug-sort>


    <app-bug-edit (onNewBug)="onNewBugCreate($event)"></app-bug-edit>


    <app-bug-list  [sortAttr]="sortAttr" [sortDesc]="sortDesc"></app-bug-list>
</section>
<ng-template #noBugsTemplate>
    Loading data...
</ng-template> 
-->