<section>
    <section class="stats">
        <span class="closed">{{getClosedCount()}}</span>
        <span> / </span>
        <span>{{bugsService.bugs.length}}</span>
    </section>
    <section class="sort">
        <label for="">Order By :</label>
        <select #selectSortAttr (change)="sortAttr = selectSortAttr.value">
            <option value="">---Select---</option>
            <option value="title">Title</option>
            <option value="isClosed">Status</option>
            <option value="createdAt">Created</option>
        </select>
        <label for="">Descending ?:</label>
        <input type="checkbox" #chkDesc (change)="sortDesc = chkDesc.checked">
    </section>
    <section class="edit">
        <label for="">Bug Title :</label>
        <input type="text" #txtNewBugTitle>
        <button (click)="onBtnAddNewClick(txtNewBugTitle.value)">Add New</button>
    </section>
    <section class="list">
        <ul>
            <li *ngFor="let bug of ( bugsService.bugs | sort:sortAttr:sortDesc)">
                <span 
                    class="bugname" 
                    [ngClass]="{closed : bug.isClosed}"
                    (click)="onBugTitleClick(bug)"
                    [title]="bug.title"
                >{{bug.title | trimtext:40}}</span>
                <div class="datetime">[{{bug.createdAt}}]</div>
                <button (click)="onBtnRemoveClick(bug)">Remove</button>
            </li>
        </ul>
        <button (click)="onBtnRemoveClosedClick()">Remove Closed</button>
    </section>
</section>